<div class="footer">
    <div class="container">
        <div class="row">
             <div class="footer-col-1">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4074.0212444600525!2d105.79449519678954!3d20.99987440000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad404fbd67f7%3A0x1756457a99788663!2sChung%20C%C6%B0%20JSC%2034!5e1!3m2!1svi!2s!4v1733604029949!5m2!1svi!2s" ></iframe>
            </div>
           
            <div class="footer-col-2">
                <img src="assets/Ecommerce/images/07714f27254fd9a4771c3e604c7a62fd.jpg" alt="CXWUD Logo">
                <p>Our Purpose Is to Sustainably Bring the Joy and Benefits of Fashion to Everyone</p>
            </div>
            <div class="footer-col-3">
                <h3>Contributors</h3>
                <ul>
                    <li><a href="https://www.facebook.com/minhduc4924/" target="_blank">Tran Pham Minh Duc - 20226077</a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100045197326514" target="_blank">Nguyen Minh Quang  - 20226123</a></li>
                   
                    
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
                    <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
                    <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
                    <li><a href="https://youtube.com" target="_blank">YouTube</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="Copyright">Copyright 2024 - By CXWUD</p>
    </div>
</div>

<!-- ------------------- js for toggle menu-------------- -->
<script src="/js/script.js"></script>
