<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - CXWUD Store</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="../../config/header.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Header -->
    <section id="header">
        <div class="logo-container" style="text-align: center;">
            <a href="/">
                <img src="/assets/Ecommerce/images/07714f27254fd9a4771c3e604c7a62fd.jpg" class="logo" alt="CXWUD Logo">
            </a>
            <p style="margin-top: 10px; font-size: 18px; font-weight: bold;">CXWUD</p>
        </div>

        <div class="search__container">
            <input class="search__input" type="text" placeholder="Search" id="searchInput">
            <div class="search__results" id="searchResults"></div>
        </div>

        <div class="credits__container"></div>

        <div class="menu">
            <ul id="navbar">
                <li><a class="nav-option" href="/">Home</a></li>
                <li><a class="nav-option" href="/product">Products</a></li>
                <div class="fullscreen-overlay">
                    <div class="display-none">
                        <!-- Column 1 -->
                        <div class="menu-column">
                            <h4>ALL CATEGORIES</h4>
                            <a href="/product/shoes">Shoes</a>
                            <a href="/product/top">Top</a>
                            <a href="/product/bottom">Bottom</a>
                            <a href="/product/accessories">Accessories</a>
                        </div>

                        <!-- Column 2 -->
                        <div class="menu-column">
                            <h4>COLLECTION CXWUD</h4>
                            <a href="/product">All Products</a>
                            <a href="https://www.worldfootwear.com/tag/campaign/290.html">Campaign</a>
                        </div>

                        <!-- Column 3 -->
                        <div class="menu-column">
                            <h4>CXWUD NEWS</h4>
                            <a href="https://eteft.com/blogs/tin-t%E1%BB%A9c">News</a>
                        </div>
                    </div>
                </div>

                <li><a class="nav-option-1" href="/product/essentials">Essentials</a></li>
                <li><a class="nav-option-1" href="/product/nike">Nike</a></li>
                <li><a class="nav-option-1" href="/product/celine">Celine</a></li>
                <li><a class="nav-option-1" href="/product/adidas">Adidas</a></li>
                <li><a class="nav-option-1" href="/product/stussy">Stussy</a></li>
                <li id="navbar-account" class="dropdown">
                    {{#if user}}
                    <a class="nav-option">{{user.first_name}} {{user.last_name}}</a>
                    <div class="dropdown-menu">
                        <a href="/account/logout" class="dropdown-item">Logout</a>
                    </div>
                    {{else}}
                    <a class="nav-option" href="/account">Account</a>
                    {{/if}}
                </li>
                <li id="lg-bag" style="position: relative;">
                    <a href="/cart">
                        <img src="/assets/Ecommerce/images/cart.png" class="cart-icon">
                        <!-- Hiển thị tổng số sản phẩm -->
                       
                    </a>
                </li>

            </ul>
        </div>
    </section>
</body>

</html>